<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="device.vivo.n1907.tetheringwifiregexoverlay">

    <overlay
        android:isStatic="true"
        android:priority="100"
        android:targetPackage="com.android.networkstack.tethering"
        android:targetName="TetheringConfig" />
</manifest>
