on init
    mkdir /mnt/vendor/persist 0771 system system

    symlink /mnt/vendor/persist /vendor/persist
    symlink /vendor/lib64/hw/libMcGatekeeper.so /vendor/lib64/hw/gatekeeper.mt6768.so

on post-fs
    mkdir /tmp/mcRegistry 0775 system system
    mkdir /data/vendor/mcRegistry 0775 system system
    mount tmpfs tmpfs /data/vendor/mcRegistry mode=0775,uid=1000,gid=1000

    chown system system /mnt/vendor/persist
    chmod 0771 /mnt/vendor/persist
    restorecon /mnt/vendor/persist
    mkdir /mnt/vendor/persist/mcRegistry 0771 system system

    mkdir /data/misc 01771 system misc
    mount tmpfs tmpfs /data/misc mode=01771,uid=1000,gid=1000

    mkdir /data/misc/keystore 0700 keystore keystore
    mount tmpfs tmpfs /data/misc/keystore mode=0700,uid=1017,gid=1017

    setprop keystore.boot_level 1000

    write /proc/bootprof "MOBICORE: Starting mcDriverDaemon"
    start mobicore

    symlink /vendor/lib64/hw/libMcGatekeeper.so /vendor/lib64/hw/gatekeeper.mt6768.so

on post-fs-data
    mkdir /data/vendor/key_provisioning 0771 system system

on property:recovery.fastboot_mode=1
    start vendor.boot-hal-1-0
    start health-hal-2-1

on property:recovery.service=1
    start vendor.configstore-1-1
    start vendor.vivo-configstore-hal-1-0
    start mobicore
    start vendor.sectee
    start keymaster_attestation-1-1
    start vendor.keymaster-4-1-trustonic
    start gatekeeper-1-0
    start keystore2

service mobicore /vendor/bin/mcDriverDaemon --P1 /mnt/vendor/persist/mcRegistry \
    -r /vendor/app/mcRegistry/06090000000000000000000000000000.drbin \
    -r /vendor/app/mcRegistry/020f0000000000000000000000000000.drbin \
    -r /vendor/app/mcRegistry/05120000000000000000000000000000.drbin \
    -r /vendor/app/mcRegistry/020b0000000000000000000000000000.drbin \
    -r /vendor/app/mcRegistry/05070000000000000000000000000000.drbin \
    -r /vendor/app/mcRegistry/030b0000000000000000000000000000.drbin \
    -r /vendor/app/mcRegistry/03100000000000000000000000000000.drbin \
    -r /vendor/app/mcRegistry/030c0000000000000000000000000000.drbin \
    -r /vendor/app/mcRegistry/40188311faf343488db888ad39496f9a.drbin \
    -r /vendor/app/mcRegistry/090b0000000000000000000000000000.drbin \
    -r /vendor/app/mcRegistry/04020000000000000000000000000000.drbin \
    -r /vendor/app/mcRegistry/0f5eed3c3b5a47afacca69a84bf0efad.drbin \
    -r /vendor/app/mcRegistry/07060000000000000000000000007169.drbin \
    -r /vendor/app/mcRegistry/08070000000000000000000000008270.drbin \
    -r /vendor/app/mcRegistry/07407000000000000000000000000000.drbin \
    -r /vendor/app/mcRegistry/9073f03a9618383bb1856eb3f990babd.drbin \
    -r /vendor/app/mcRegistry/5020170115e016302017012521300000.drbin \
    -r /vendor/app/mcRegistry/62d690ff530e46cfb472ec52c4da3773.drbin
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service vendor.keymaster-4-1-trustonic /vendor/bin/hw/android.hardware.keymaster@4.1-service.trustonic
    class early_hal
    user root
    group root drmrpc
    disabled
    seclabel u:r:recovery:s0

    interface android.hardware.keymaster@4.0::IKeymasterDevice default
    interface android.hardware.keymaster@4.1::IKeymasterDevice default

    onrestart restart keystore2

service keymaster_attestation-1-1 /vendor/bin/hw/vendor.mediatek.hardware.keymaster_attestation@1.1-service
    interface vendor.mediatek.hardware.keymaster_attestation@1.0::IKeymasterDevice default
    interface vendor.mediatek.hardware.keymaster_attestation@1.1::IKeymasterDevice default
    class hal
    user root
    group root drmrpc
    seclabel u:r:recovery:s0
    disabled

service gatekeeper-1-0 /vendor/bin/hw/android.hardware.gatekeeper@1.0-service
    interface android.hardware.gatekeeper@1.0::IGatekeeper default
    class hal
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service keystore2 /system/bin/keystore2 /data/misc/keystore
    class early_hal
    user root
    group root readproc log
    writepid /dev/cpuset/foreground/tasks
    disabled
    seclabel u:r:recovery:s0
    interface aidl android.system.keystore2.IKeystoreService/default

service tee-1-1 /vendor/bin/hw/vendor.trustonic.tee@1.1-service
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service vendor.sectee /vendor/bin/hw/vendor.vivo.hardware.sectee@1.0-service
    class main
    user root
    group root readproc
    seclabel u:r:recovery:s0

service vndservicemanager /vendor/bin/vndservicemanager /dev/vndbinder
    user root
    seclabel u:r:recovery:s0

service vendor.boot-hal-1-0 /vendor/bin/hw/android.hardware.boot@1.0-service
    disabled
    user root
    group root
    seclabel u:r:recovery:s0

service health-hal-2-1 /system/bin/android.hardware.health@2.1-service
    disabled
    user root
    group root
    seclabel u:r:recovery:s0

service vendor.configstore-1-1 /vendor/bin/hw/android.hardware.configstore@1.1-service
    user system
    group system
    disabled
    seclabel u:r:recovery:s0

service vendor.vivo-configstore-hal-1-0 /vendor/bin/hw/vendor.vivo.hardware.configstore@1.0-service
    user system
    group system
    disabled

on property:hwservicemanager.ready=true
    write /proc/bootprof "MOBICORE: Starting Security Stack"
    start vndservicemanager
    start mobicore
    start vendor.sectee
    start tee-1-1
    start keymaster_attestation-1-1
    start vendor.keymaster-4-1-trustonic
    start gatekeeper-1-0
    start keystore2

    start vendor.vivo-configstore-hal-1-0
    start vendor.configstore-1-1

on property:ro.crypto.state=unsupported
    stop mobicore
    stop gatekeeper-1-0
    stop keymaster_attestation-1-1
    stop vendor.keymaster-4-1-trustonic
    stop tee-1-1

on property:ro.crypto.state=unencrypted
    stop mobicore
    stop gatekeeper-1-0
    stop keymaster_attestation-1-1
    stop vendor.keymaster-4-1-trustonic
    stop tee-1-1

on property:twrp.decrypt.done=true
    stop mobicore
    stop gatekeeper-1-0
    stop keymaster_attestation-1-1
    stop vendor.keymaster-4-1-trustonic
    stop tee-1-1

on boot
    start vendor.boot-hal-1-0
    start health-hal-2-1
