allow charger charger:capability2 { wake_alarm };
allow charger recovery:binder { call transfer };
allow recovery adb_keys_file:dir { getattr open read search };
allow recovery adb_keys_file:file { getattr };
allow recovery apex_ota_reserved_file:dir { getattr open read };
allow recovery asec_image_file:dir { getattr open read };
allow recovery block_device:blk_file { ioctl };
allow recovery charger:binder { call transfer };
allow recovery charger:dir { search };
allow recovery charger:file { getattr open read };
allow recovery init:dir { search };
allow recovery init:file { getattr open read };
allow recovery init_exec:file { getattr };
allow recovery kernel:dir { search };
allow recovery kernel:file { getattr open read };
allow recovery kernel:security { compute_av };
allow recovery kernel:system { module_request syslog_mod };
allow recovery linkerconfig_file:dir { getattr };
allow recovery logdr_socket:sock_file { write };
allow recovery ota_package_file:dir { getattr open read };
allow recovery packages_list_file:file { getattr };
allow recovery proc_kmsg:file { read };
allow recovery recovery:binder { call transfer };
allow recovery recovery:capability { audit_control fsetid };
allow recovery recovery:capability2 { wake_alarm };
allow recovery recovery:netlink_audit_socket { create getopt nlmsg_write read write };
allow recovery recovery:netlink_kobject_uevent_socket { bind create getopt read setopt };
allow recovery recovery:netlink_selinux_socket { bind create };
allow recovery recovery:process { execmem };
allow recovery ringtone_file:dir { getattr open read search };
allow recovery ringtone_file:file { getattr };
allow recovery selinuxfs:dir { open read };
allow recovery selinuxfs:file { write };
allow recovery shared_relro_file:dir { getattr open read search };
allow recovery shared_relro_file:file { getattr };
allow recovery su:dir { search };
allow recovery su:file { open read };
allow recovery system_data_root_file:dir { open read };
allow recovery system_data_root_file:file { getattr };
allow recovery system_ndebug_socket:sock_file { getattr };
allow recovery system_unsolzygote_socket:sock_file { getattr };
allow recovery tmpfs:fifo_file { create open read };
allow recovery tmpfs:lnk_file { create };
allow recovery ueventd:dir { search };
allow recovery ueventd:file { getattr open read };
allow recovery unlabeled:fifo_file { getattr };
allow recovery user_profile_root_file:dir { getattr open read search };
allow recovery vendor_init:dir { search };
allow recovery vendor_init:file { getattr open read };
allow recovery wpa_socket:dir { getattr open read search };
allow ueventd ueventd:capability { sys_nice };
allow vendor_init proc:file { write };
