type atcid_common_exec, exec_type, file_type;
type atcmd_cache_file, file_type, data_file_type;
type atcmd_enforce_file, file_type, data_file_type;
type audio_ic_device, dev_type, file_type;
type bbklog_data_file, file_type, data_file_type;
type bbk_log_exec, exec_type, file_type;
type bigdata_data_file, file_type, data_file_type;
type bsptestserver_exec, exec_type, file_type;
type circulatedlog_data_file, file_type, data_file_type;
type cl_bt_logs_exec, exec_type, file_type;
type cms_key_file, file_type, data_file_type;
type cotamnt_exec, exec_type, file_type;
type cota_persist_data_file, file_type, data_file_type;
type cp_log_exec, exec_type, file_type;
type dcdiming_exec, exec_type, file_type;
type debugfs_otg, file_type, data_file_type;
type debugfs_vivo, file_type, data_file_type;
type em_data_file, file_type, data_file_type;
type faceunlock_private_file, file_type, data_file_type;
type fingerprint_private_file, file_type, data_file_type;
type forcetouch_private_file, file_type, data_file_type;
type gallery_res_data_file, file_type, data_file_type;
type hal_cameralog_default_exec, exec_type, file_type, system_file_type;
type hal_nativecamera_default_exec, exec_type, file_type, system_file_type;
type hal_vivoatcmd_default_exec, exec_type, file_type;
type logdata_data_file, file_type, data_file_type;
type log_device, dev_type, file_type;
type mediaserverwrapper_exec, exec_type, file_type;
type mediavivocodec_exec, exec_type, file_type;
type mtk_camdumpserver_exec, exec_type, file_type;
type nxp_mtp_data_file, file_type, data_file_type;
type oem_vivo_config_ini_file, file_type, data_file_type;
type offlinetz_data_file, file_type, data_file_type;
type roundphone_exec, exec_type, file_type;
type sflog_data_file, file_type, data_file_type;
type sla_data_file, file_type, data_file_type;
type slad_socket, file_type;
type superreolutionserver_exec, exec_type, file_type;
type sysfs_alpmmode, fs_type, sysfs_type;
type sysfs_alpmmode_secondary, fs_type, sysfs_type;
type sysfs_user_cpu_freq, fs_type, sysfs_type;
type system_data_abe, file_type, data_file_type;
type system_data_pem, file_type, data_file_type;
type system_data_perfdata_boottime, file_type, data_file_type;
type vdtf_exec, exec_type, file_type;
type vdtf_socket, file_type;
type vendor_audio_hw_log_file, file_type, data_file_type;
type vendor_cryptfs_data_file, file_type, data_file_type;
type vfont_data_file, file_type, data_file_type;
type vivo_cust_file, file_type, data_file_type;
type vivo_customcenter_exec, exec_type, file_type;
type vivo_daemon_exec, exec_type, file_type;
type vivo_data_file, file_type, data_file_type;
type vivodump_file, file_type, data_file_type;
type vivo_em_svr_socket, file_type;
type vivo_fsck_exec, exec_type, file_type;
type vivo_log_file, file_type, data_file_type;
type vivoperfservice_exec, exec_type, file_type;
type vivo_sarsecondary_sensor, file_type, data_file_type;
type vrp_exec, exec_type, file_type;
type vusbd_data_file, file_type, data_file_type;
type xlog_data_file, file_type, data_file_type;
type xlog_socket, file_type;
type yzfswj_data_file, file_type, data_file_type;
